{% extends "../base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
        <div class="container mx-auto">
            <div class="card w-100 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title mb-5" style="font-size: 32px;">Приветствуем вас на данном сайте!</h2>
                    
                </div>
            </div>
        </div>




        <script>
            var element = document.getElementById("mainP");
            element.style.display = "none";
        </script>
{% endblock %}