{% load static %}

<!DOCTYPE html>
<html lang="ru" xmlns:golosApp="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static './css/full.css' %}" integrity="sha512-/2ELar91QbGVG+hv9oiEis94FmU9c2F5mah029EV39VO3baOfrOU4GYd5wS9Ozfl9SQ3lONAVPHkDMoNgedG/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
        <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static './css/style.css' %}">
        <script src="{% static './js/scritpic.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="navbar text-neutral-content shadow mb-10" style="position: fixed; z-index: 4; background: linear-gradient(90deg, rgba(64,46,168,1) 0%, rgba(0,134,161,1) 100%);">
            <div class="flex-1">
              <a href="" class="btn btn-ghost normal-case text-xl"><img src="{% static './images/logotype.png' %}" width="150px" height="50px" ></a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">            
                    <li id="mainP" style="display: block;"><a href="{% url "golosApp:home" %}">Главная страница</a></li>
                    <li><a href="{% url "events:All" %}">События</a></li>
                    <li><a href="{% url "golosApp:candit" %}">Кандидаты</a></li>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url "users:loginPage" %}">Вход</a></li>
                    <li><a href="{% url "users:signUp" %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img src="{{ user.image.url }}" width="16px" alt="Logo">
              </div>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
              {% if user.is_superuser %}
              <li><a href="{% url 'admin:index' %}" class="btn btn-primary mb-2">Админ панель</a></li>
              {% endif %}
              {% if user.isCandit %}
              <li><a href="{% url 'golosApp:canditfr' user_id=user.id %}" class="btn btn-primary mb-2">Форма кандидата</a></li>
              {% endif %}
              <li><a href="{% url 'users:profile' user_id=user.id %}" class="btn btn-primary mb-2">Профиль</a></li>
              <li><a href="{% url 'users:logoutUser' %}" class="btn btn-error">{{ user.username }} : Выход</a></li>
            </ul>
            </div>
            {% endif %}
          </div>
        <div style="padding-top: 75px;">
          {% block content %}{% endblock %}
        </div>
        <script src="{% static './js/jquery.min.js' %}"></script>
        <script src="{% static './js/owl.carousel.min.js' %}"></script>
        <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static './js/script.js' %}"></script>
    </body>
</html>